.container {
  background: #FFF;
  border-radius: 4px;
  width: 1200px;
  height: 119px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-left: 4px solid #1fab89;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.date {
  color: #909090;
  font-size: 1.2rem;
}

.id {
  color: #43bfdf;
  font-weight: 700;
  font-size: 1rem;
}

.textTitle {
  font-size: .8rem;
  float: left;
  align-self: flex-start;
}

.textBody {
  font-size: .8rem;
  color: #909090;
  align-self: flex-start;
}

.textTitle1 {
  font-size: .8rem;
  float: left;
}

.textBody1 {
  font-size: .8rem;
  color: #909090;
}
.price {
  color: #909090;
  font-size: 1.4em;
  font-weight: 700;
}


.button {
  background-color: #143c8d;
  border: 1px solid #143c8d;
  color: #fff;
  fill: #fff;

  padding: 16px 18px;
  border-radius: 6px;
  font-weight: 500;
  font-size: .9rem;
}