.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items:flex-start;
  background: #e9eaee;
  padding: 40px;
  padding-top: 15px;
}

.linkHome {
  color: #909090;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
}

.title {
  color: #143c8d;
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
