.product {
  background: #FFF;
  border-radius: 4px;
  padding: 10px;
}

.productName {
  color: #909090;
  font-size: .9rem;
  margin-bottom: 5px;
  float: left;
}

.productPrice {
  color: #676767;
  font-size: 1.3rem;
  font-weight: 700;
  float: left;
  margin-bottom: 15px;
}