.container {
  max-width: 1200px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh;
  gap: 15px;
}

@media only screen and (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}
